        .heroes-grid{
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            list-style: none;
        }

            .heroes-grid li{
                border: 2px solid #f5f5f5;
                border-radius: 8px;
                height: 425px;
                width: 280px;
                margin-bottom: 60px;
            }

            .heroes-grid li img{
                height: 100%;
                width: 100%;
            }

                .heroes-grid li span{
                    
                }
